[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas ="*"
numpy="*"
geopandas="*"
networkx="*"
plotly="*"
typing_extensions="*"
gerrychain="*"
shapely="*"
matplotlib="*"
Pympler="*"
jsonpointer="*"

[dev-packages]

[requires]
python_version = "3.12"
